.button {
  border: 1px solid;
  color: rgb(52, 183, 188);
  padding: 0.5em 1em;
  font: inherit;
  background-color: transparent;
  border-radius: 0.25em;
}

.button:hover,
.button:active {
  background-color: rgb(52, 183, 188);
  color: white;
}
