.Main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  border-left: 10px solid rgb(59, 208, 214);
  min-height: 100%;
}


@media (min-width: 851px) {
  .Main {
    padding-right: 350px;
  }
}
