.Form {

}

.Label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.Input,
.Button {
  padding: 0.5em 1em;
  border: 1px solid;
  font: inherit;
}

.Button {
  background-color: transparent;
  border-left: 0;
  transition: background-color 250ms;
}

.Button:hover,
.Button:active {
  background-color: #f1c40f;
}

.Button:focus {
  background-color: #f39c12;
}
