.Navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 350px;
  padding: 2em;
  border-left: 10px solid rgb(52, 183, 188);
  background-color: rgb(249, 249, 249);
  overflow: auto;
}

.NavigationLink {
  display: inline-block;
  color: rgb(52, 183, 188);
}

.NavigationLink.active {
  pointer-events: none;
  color: #2c3e50;
  text-decoration: none;
  font-weight: bold;
}

.NavigationList {
  padding: 0;
  list-style-position: inside;
  border-top: 1px solid #95a5a6;
  padding-top: 1em;
  margin-top: 1em;
}

.NavigationItem {
  padding: 0.25em 0;
}

.Logo {
  max-height: 60px;
}
