.Example {
  padding: 1em;
  border: 1px solid silver;
  position: relative;
  margin-top: 2em;
}

.Live {
  position: absolute;
  top: 0;
  left: 1em;
  text-transform: uppercase;
  color: gray;
  font-size: 80%;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 0.5em;
}
