.Navigation {
  border-bottom: 1px solid silver;
  padding-bottom: 1em;
  margin: 0 -0.5ch;
}

.Link {
  display: inline-block;
  text-decoration: none;
  color: deepskyblue;
  border-bottom: 1px solid;
  margin: 0 0.5ch;
}
