.Navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 350px;
  background-color: white;
  padding: 2em 1em;
  border-left: 10px solid #e74c3c;
}

.Link {
  display: block;
  color: #e74c3c;
  padding: 0.25em 0;
}
