html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 125% / 1.4 sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

ul {
  padding-left: 1em;
}

h1 {
  border-bottom: 1px solid #d35400;
}

h2 {
  margin-top: 0;
}

:not(pre) > code {
  background-color: #EFEFEF;
  padding: 0 0.25em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  white-space: normal;
}
