html {
  box-sizing: border-box;
  background-color: #EFEFEF;
  height: 100%;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  font: 125% / 1.4 sans-serif;
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0 0 0 1em;
}

#root {
  border-left: 10px solid #2980b9;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

h1 {
  border-bottom: 1px solid #d35400;
}

/* Inline code */
:not(pre) > code {
  background-color: #EFEFEF;
  padding: 0 0.25em;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  white-space: normal;
}
